<a href="https://colab.research.google.com/github/VittorioBartolomeoSecondin/DVIS-CAValli_Team/blob/main/prova2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import scipy
import csv

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
all_files = glob.glob("/content/drive/MyDrive/tree_dataset/*.csv")

li = []
sum = 0

for filename in all_files:
    print(filename)
    df = pd.read_csv(filename) #on_bad_lines='skip')
    print(df.shape[0])
    sum += df.shape[0]
    if li:
        df = df.reindex(columns=li[0].columns)
    li.append(df)

print(sum)
tree_dataset = pd.concat(li, axis=0, ignore_index=True)

/content/drive/MyDrive/tree_dataset/Atlanta_Final_2022-06-18.csv
41307
/content/drive/MyDrive/tree_dataset/AuroraCO_Final_2022-06-18.csv
57658
/content/drive/MyDrive/tree_dataset/Arlington_Final_2022-06-18.csv
14827
/content/drive/MyDrive/tree_dataset/Baltimore_Final_2022-06-18.csv
121296
/content/drive/MyDrive/tree_dataset/Buffalo_Final_2022-06-18.csv
132995
/content/drive/MyDrive/tree_dataset/Boston_Final_2022-06-18.csv
1333
/content/drive/MyDrive/tree_dataset/Austin_Final_2022-06-18.csv
7295
/content/drive/MyDrive/tree_dataset/CapeCoral_Final_2022-06-18.csv
34287
/content/drive/MyDrive/tree_dataset/Denver_Final_2022-06-18.csv
284739
/content/drive/MyDrive/tree_dataset/Dallas_Final_2022-06-18.csv
6218
/content/drive/MyDrive/tree_dataset/Columbus_Final_2022-06-18.csv
151937
/content/drive/MyDrive/tree_dataset/ColoradoSprings_Final_2022-06-18.csv
25478
/content/drive/MyDrive/tree_dataset/DesMoines_Final_2022-06-18.csv
16875
/content/drive/MyDrive/tree_dataset/Durham_Final_2022-06-18.csv
16030
/content/drive/MyDrive/tree_dataset/Fresno_Final_2022-06-18.csv
6980
/content/drive/MyDrive/tree_dataset/GardenGrove_Final_2022-06-18.csv
17522
/content/drive/MyDrive/tree_dataset/GrandRapids_Final_2022-06-18.csv
84361
/content/drive/MyDrive/tree_dataset/Detroit_Final_2022-06-18.csv
20963
/content/drive/MyDrive/tree_dataset/Irvine_Final_2022-06-18.csv
58364
/content/drive/MyDrive/tree_dataset/Honolulu_Final_2022-06-18.csv
15440
/content/drive/MyDrive/tree_dataset/HuntingtonBeach_Final_2022-06-18.csv
55828
/content/drive/MyDrive/tree_dataset/Indianapolis_Final_2022-06-18.csv
98942
/content/drive/MyDrive/tree_dataset/Greensboro_Final_2022-06-18.csv
6589
/content/drive/MyDrive/tree_dataset/Houston_Final_2022-06-18.csv

<ipython-input-3-b715b3f51539>:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename) #on_bad_lines='skip')

215139
/content/drive/MyDrive/tree_dataset/Jerseycity_Final_2022-06-18.csv
774
/content/drive/MyDrive/tree_dataset/Knoxville_Final_2022-06-18.csv
10000
/content/drive/MyDrive/tree_dataset/LasVegas_Final_2022-06-18.csv
39193
/content/drive/MyDrive/tree_dataset/LosAngeles_Final_2022-06-18.csv

<ipython-input-3-b715b3f51539>:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename) #on_bad_lines='skip')

720140
/content/drive/MyDrive/tree_dataset/Nashville_Final_2022-06-18.csv
2059
/content/drive/MyDrive/tree_dataset/Miami_Final_2022-06-18.csv
732
/content/drive/MyDrive/tree_dataset/Madison_Final_2022-06-18.csv
96042
/content/drive/MyDrive/tree_dataset/Milwaukee_Final_2022-06-18.csv
32260
/content/drive/MyDrive/tree_dataset/NewOrleans_Final_2022-06-18.csv
105813
/content/drive/MyDrive/tree_dataset/Minneapolis_Final_2022-06-18.csv

<ipython-input-3-b715b3f51539>:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename) #on_bad_lines='skip')

190766
/content/drive/MyDrive/tree_dataset/NewYork_Final_2022-06-18.csv
683788
/content/drive/MyDrive/tree_dataset/Louisville_Final_2022-06-18.csv
32711
/content/drive/MyDrive/tree_dataset/Orlando_Final_2022-06-18.csv
68211
/content/drive/MyDrive/tree_dataset/Oakland_Final_2022-06-18.csv
38613
/content/drive/MyDrive/tree_dataset/OklahomaCity_Final_2022-06-18.csv
10000
/content/drive/MyDrive/tree_dataset/Ontario_Final_2022-06-18.csv
58577
/content/drive/MyDrive/tree_dataset/OverlandPark_Final_2022-06-18.csv
45148
/content/drive/MyDrive/tree_dataset/Phoenix_Final_2022-06-18.csv
214
/content/drive/MyDrive/tree_dataset/RanchoCucamonga_Final_2022-06-18.csv
82947
/content/drive/MyDrive/tree_dataset/Pittsburgh_Final_2022-06-18.csv
45703
/content/drive/MyDrive/tree_dataset/Providence_Final_2022-06-18.csv
24525
/content/drive/MyDrive/tree_dataset/Portland_Final_2022-06-18.csv
218602
/content/drive/MyDrive/tree_dataset/Plano_Final_2022-06-18.csv
28375
/content/drive/MyDrive/tree_dataset/SanDiego_Final_2022-06-18.csv
212304
/content/drive/MyDrive/tree_dataset/Rochester_Final_2022-06-18.csv
64056
/content/drive/MyDrive/tree_dataset/SanFrancisco_Final_2022-06-18.csv
188462
/content/drive/MyDrive/tree_dataset/Sacramento_Final_2022-06-18.csv
87191
/content/drive/MyDrive/tree_dataset/Richmond_Final_2022-06-18.csv
3272
/content/drive/MyDrive/tree_dataset/SanJose_Final_2022-06-18.csv
347669
/content/drive/MyDrive/tree_dataset/Seattle_Final_2022-06-18.csv
165623
/content/drive/MyDrive/tree_dataset/SantaRosa_Final_2022-06-18.csv
3016
/content/drive/MyDrive/tree_dataset/StLouis_Final_2022-06-18.csv
83594
/content/drive/MyDrive/tree_dataset/Stockton_Final_2022-06-18.csv
98300
/content/drive/MyDrive/tree_dataset/SiouxFalls_Final_2022-06-18.csv
63024
/content/drive/MyDrive/tree_dataset/Tampa_Final_2022-06-18.csv
25501
/content/drive/MyDrive/tree_dataset/WashingtonDC_Final_2022-06-18.csv
190991
/content/drive/MyDrive/tree_dataset/Worcester_Final_2022-06-18.csv
17454
/content/drive/MyDrive/tree_dataset/Anaheim_Final_2022-06-18.csv
79651
/content/drive/MyDrive/tree_dataset/Albuquerque_Final_2022-06-18.csv
2533
5660237

In [ ]:
tree_dataset.tail()

,city_ID,most_recent_observation,most_recent_observation_type,scientific_name,city,state,longitude_coordinate,latitude_coordinate,address,native,...,location_name,ward,district,overhead_utility,diameter_breast_height_CM,condition,height_M,height_binned_M,diameter_breast_height_binned_CM,percent_population
5660232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5660233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5660234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5660235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5660236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
quantitative_tree = tree_dataset[['']]
qualitative_tree = tree_dataset[['']]

In [ ]:
print(tree_dataset.shape) # N=5132890, 28 columns expected

(5660237, 28)

In [ ]:
tree_dataset['city'].value_counts().to_frame()

               city
Los Angeles  720140
New York     683788
San Jose     347669
Denver       284739
Portland     218602
...             ...
Muskego           2
Heeia             1
Lutz              1
Aiea              1
Wind Lake         1

[145 rows x 1 columns]

In [ ]:
for i in list(tree_dataset.columns.values):
  print(i)
  print(tree_dataset[i].value_counts())
  print("\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n")

city_ID
                           172
10340-155-3001-0095-000    126
35778-290-3005-0057-000    125
2                           63
24875-000-3001-0000-000     48
                          ...
516,260                      1
516,051                      1
513,945                      1
517,291                      1
20480-130-3005-0330-000      1
Name: city_ID, Length: 2305323, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

most_recent_observation
04/27/2019                127866
03/23/2015                 96072
01/08/2020                 56425
11/15/2017                 45342
04/11/2018                 29125
                           ...
2022/05/24 19:40:10+00         1
2022/05/27 14:35:04+00         1
2022/05/25 17:49:57+00         1
2022/05/18 20:37:22+00         1
2022/03/04 20:23:34+00         1
Name: most_recent_observation, Length: 18927, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

most_recent_observation_type
inventory_date    2210209
inspected_date     151937
edit_date           62494
condition_date      34287
Name: most_recent_observation_type, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

scientific_name
Platanus acerifolia         216312
Lagerstroemia indica        203290
Acer platanoides            198950
Gleditsia triacanthos       166813
Pyrus calleryana            159648
                             ...
Eucalyptus intertexta            1
Pinus monophylla                 1
Lagerstroemia subcostata         1
Lithrea molleoides               1
Red Sea                          1
Name: scientific_name, Length: 1951, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

city
Los Angeles    720140
New York       683788
San Jose       347669
Denver         284739
Portland       218602
                ...
Muskego             2
Heeia               1
Lutz                1
Aiea                1
Wind Lake           1
Name: city, Length: 145, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

state
California              1975913
New York                 880839
Colorado                 367875
Texas                    271854
Oregon                   218602
District of Columbia     190991
Minnesota                190766
Washington               165623
Ohio                     151937
Florida                  128731
Wisconsin                128302
Maryland                 121296
Louisiana                105813
Michigan                 105324
Indiana                   98942
Missouri                  83594
South Dakota              63024
Pennsylvania              45703
Kansas                    45148
Georgia                   41307
Nevada                    39193
Kentucky                  32711
Rhode Island              24525
North Carolina            22619
Massachusetts             18787
Iowa                      16875
Hawaii                    15440
Tennessee                 12059
Oklahoma                  10000
Virginia                   3272
New Jersey                  774
Arizona                     214
Name: state, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

longitude_coordinate
-95.907718     5344
-121.290780    4428
-120.406027    3901
-117.650890    3640
-105.841620    3566
               ...
-73.853530        1
-74.118710        1
-73.832394        1
-73.975722        1
-77.055513        1
Name: longitude_coordinate, Length: 3487796, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

latitude_coordinate
40.707742    5344
37.957700    4428
34.869057    3901
34.063340    3640
41.195479    3566
             ...
40.670182       1
40.742094       1
40.703306       1
40.757244       1
38.980907       1
Name: latitude_coordinate, Length: 3592020, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

address
University Of South Florida    10810
                                7191
99999 0 Na                      4959
414 Parkside Av                 3527
900 Druid Park Lake Dr          3525
                               ...
4533 31St Ave S                    1
4522 Logan Ave N                   1
3527 Dupont Ave N                  1
3526 Dupont Ave N                  1
3118 Dogwood St Nw                 1
Name: address, Length: 1999908, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

native
introduced             2932211
naturally_occurring    1396539
no_info                1249303
Name: native, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

greater_metro
LosAngeles    720140
NewYork       683788
SanJose       347669
Denver        284739
Portland      218602
               ...
Nashville       2059
Boston          1333
Jerseycity       774
Miami            732
Phoenix          214
Name: greater_metro, Length: 61, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

tree_ID
Series([], Name: tree_ID, dtype: int64)

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

planted_date
01/01/1970    109368
12/30/2012      2122
4/2/2011        1794
10/1/2011       1720
4/5/2008        1492
               ...
07/26/1950         1
07/24/1984         1
07/26/1977         1
07/25/1976         1
08/06/2020         1
Name: planted_date, Length: 8618, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

retired_date
1/1/2013     120
6/1/2016     117
1/1/2012     101
2/1/2020     101
1/1/2014      89
            ...
2/1/2012       1
1/15/2019      1
7/20/2017      1
4/3/2019       1
3/10/2011      1
Name: retired_date, Length: 332, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

common_name
Norway maple          142559
London planetree      122493
Red maple             121810
Crape myrtle          118454
ok to plant vacant    113631
                       ...
Mamalis                    1
Common winterberry         1
Nootka cypress             1
Durmast oak                1
Nuttalls scrub oak         1
Name: common_name, Length: 4420, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

location_type
no_info              1160294
built_environment     604270
green_space           425901
<null>                    12
Name: location_type, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

zipcode
10312.0    22186
10314.0    16905
10306.0    13030
10309.0    12650
11234.0    11253
           ...
40209.0        1
40333.0        1
40337.0        1
40336.0        1
40338.0        1
Name: zipcode, Length: 421, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

neighborhood
Stapleton                       21028
Gateway - green valley ranch    17450
Lowry field                      8196
South park hill                  7894
Washington park                  7769
                                ...
Arlington heights                   5
Esplen                              3
South shore                         2
Glen hazel                          2
Hays                                1
Name: neighborhood, Length: 263, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

location_name
0                                                             119479
Delaware                                                        6880
Angel park golf course                                          4006
High line canal greenway                                        3194
Floyd lamb park at tule springs                                 2879
                                                               ...
Southside park/head start facility                                 1
Creekstone parkland                                                1
Austin bmx and skate park                                          1
West toll gate creek greenwaywest toll gate creek greenway         1
Prairie green gc                                                   1
Name: location_name, Length: 1804, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

ward
3.0                   37094
4.0                   36007
5.0                   34555
6.0                   32879
7.0                   29375
2.0                   28138
8.0                   21147
1.0                   16439
14.0                   9668
11.0                   4224
22.0                   2088
10.0                   1988
19.0                   1799
26.0                   1436
15.0                   1420
27.0                   1389
13.0                   1337
20.0                   1285
16.0                   1224
21.0                   1018
12.0                    962
9.0                     869
17.0                    841
28.0                    840
29.0                    770
18.0                    618
32.0                    603
Council district 1      565
25.0                    539
Council district 2      521
Council district 5      509
23.0                    464
31.0                    447
30.0                    425
Council district 6      372
Council district 8      357
Council district 3      347
Council district 7      346
24.0                    251
Council district 4      216
Council district 9       39
Name: ward, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

district
Delaware      20630
South         16699
Ellicott      16620
Masten        15984
Fillmore      15347
North         12727
Lovejoy       11967
University    11821
Niagara       11151
10             1847
11             1505
12             1499
3              1384
1              1180
4              1111
8              1060
7              1049
5               959
6               923
2               921
18              893
9               749
16              585
15              500
19              445
14              412
17              330
13              170
0                49
inermis          14
Name: district, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

overhead_utility
No                         523395
Yes                        102739
No lines                    13211
0                            1868
Yes and not conflicting      1160
Yes and conflicting           626
                                3
Name: overhead_utility, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

diameter_breast_height_CM
5.080000      248070
0.000000      168457
7.620000      151643
10.160000     138962
15.240000     117193
               ...
9.774457           1
6.708204           1
10.124228          1
63.169534          1
176.530000         1
Name: diameter_breast_height_CM, Length: 2213, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

condition
good          1591854
fair           709555
poor           143546
excellent      105948
dead            31337
dead/dying      20447
                16681
Name: condition, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

height_M
0.000000     134645
98.425200     50352
49.212600     47041
65.616800     45310
82.021000     44653
              ...
8.151980          1
8.047110          1
8.115720          1
7.966330          1
83.989504         1
Name: height_M, Length: 4533, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

height_binned_M
more than 18.29 m    558704
0 to 4.57 m           25497
4.57 to 9.14 m         9406
13.71 to 18.29 m       6515
9.14 to 13.71 m        4079
Name: height_binned_M, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

diameter_breast_height_binned_CM
0 to 15.24 cm        1595628
15.24 to 30.48 cm    1021575
30.48 to 45.72 cm     697789
45.72 to 60.96 cm     360140
60.96 to 76.2 cm      210065
more than 76.2 cm     141311
Name: diameter_breast_height_binned_CM, dtype: int64

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

percent_population
Series([], Name: percent_population, dtype: int64)

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%