<a href="https://colab.research.google.com/github/VittorioBartolomeoSecondin/DVIS-CAValli_Team/blob/main/prova1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import scipy
from google.colab import drive
import csv

# drive.mount('/content/drive')

In [ ]:
all_files = glob.glob("/content/*.csv")

li = []
sum = 0

for filename in all_files:
    #print(filename)
    df = pd.read_csv(filename) #on_bad_lines='skip')
    sum += df.shape[0]
    if li:
        df = df.reindex(columns=li[0].columns)
    li.append(df)

print(sum)
tree_dataset = pd.concat(li, axis=0, ignore_index=True)

<ipython-input-4-7a71f454e1d8>:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename) #on_bad_lines='skip')
<ipython-input-4-7a71f454e1d8>:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename) #on_bad_lines='skip')
<ipython-input-4-7a71f454e1d8>:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename) #on_bad_lines='skip')

5655510

In [ ]:
tree_dataset.tail()

,city_ID,most_recent_observation,common_name,scientific_name,city,state,longitude_coordinate,latitude_coordinate,location_type,address,...,tree_ID,planted_date,retired_date,most_recent_observation_type,zipcode,neighborhood,ward,district,overhead_utility,percent_population
5655505,5653862,NaN,Crape myrtle,Lagerstroemia indica,Huntington Beach,California,-118.018076,33.750080,NaN,14612 Zane Cir,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5655506,5942032,NaN,Crape myrtle,Lagerstroemia indica,Huntington Beach,California,-118.018226,33.749899,NaN,14621 Zane Cir,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5655507,5942033,NaN,Crape myrtle,Lagerstroemia indica,Huntington Beach,California,-118.018440,33.749808,NaN,14621 Zane Cir,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5655508,5942034,NaN,Crape myrtle,Lagerstroemia indica,Huntington Beach,California,-118.018057,33.749883,NaN,14622 Zane Cir,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5655509,5942035,NaN,Crape myrtle,Lagerstroemia indica,Huntington Beach,California,-118.017860,33.749815,NaN,14622 Zane Cir,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
quantitative_tree = tree_dataset[['']]
qualitative_tree = tree_dataset[['']]

In [ ]:
print(tree_dataset.shape) # N=5132890, 28 columns expected

(5655510, 28)

In [ ]:
tree_dataset['city'].value_counts()

Los Angeles    720140
New York       683788
San Jose       347669
Denver         284739
Portland       218602
                ...
Muskego             2
Heeia               1
Aiea                1
Wind Lake           1
Lutz                1
Name: city, Length: 147, dtype: int64

In [ ]:
for i in list(tree_dataset.columns.values):
  print(i)
  print(tree_dataset[i].value_counts())
  print("%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%")

city_ID
                           172
10340-155-3001-0095-000    126
35778-290-3005-0057-000    125
2                           63
24875-000-3001-0000-000     48
                          ...
399,037                      1
402,431                      1
399,380                      1
398,937                      1
5942035                      1
Name: city_ID, Length: 2300610, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
most_recent_observation
04/27/2019                127866
03/23/2015                 96072
01/08/2020                 56425
11/15/2017                 45336
04/11/2018                 29112
                           ...
2022/05/04 21:14:07+00         1
2022/03/22 19:15:02+00         1
2022/03/23 16:56:42+00         1
2022/05/03 18:05:34+00         1
2020/08/28 23:36:08+00         1
Name: most_recent_observation, Length: 18940, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
common_name
Norway maple                     142560
London planetree                 122493
Red maple                        121785
Crape myrtle                     121775
ok to plant vacant               113631
                                  ...
Gold rush dawn redwood                1
Purple hybrid catalpa                 1
Red jade crabapple                    1
Harvest gold mongolian linden         1
Bamboo palm                           1
Name: common_name, Length: 4460, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
scientific_name
Platanus acerifolia      217762
Lagerstroemia indica     206568
Acer platanoides         198951
Gleditsia triacanthos    167242
Pyrus calleryana         159981
                          ...
Lysiloma watsonii             1
Prosopis juliflora            1
Elaeis guineensis             1
Carya floridana               1
Chamaedorea seifrizii         1
Name: scientific_name, Length: 1964, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
city
Los Angeles    720140
New York       683788
San Jose       347669
Denver         284739
Portland       218602
                ...
Muskego             2
Heeia               1
Aiea                1
Wind Lake           1
Lutz                1
Name: city, Length: 147, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
state
California              2055564
New York                 880839
Colorado                 367875
Texas                    271854
Oregon                   218602
District of Columbia     190991
Minnesota                190766
Washington               165623
Ohio                     151937
Wisconsin                128302
Florida                  124004
Maryland                 121296
Louisiana                105813
Michigan                 105324
Indiana                   98942
Missouri                  83594
South Dakota              63024
Pennsylvania              45703
Kansas                    45148
Georgia                   41307
Nevada                    39193
Kentucky                  32711
Rhode Island              24525
North Carolina            22619
Massachusetts             18787
Iowa                      16875
Hawaii                    15440
Tennessee                 12059
Oklahoma                  10000
Virginia                   3272
New Mexico                 2502
New Jersey                  774
Arizona                     214
Name: state, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
longitude_coordinate
-95.907718     5344
-121.290780    4428
-120.406027    3901
-117.650890    3640
-105.841620    3566
               ...
-115.104237       1
-115.104225       1
-115.104228       1
-115.104144       1
-118.017860       1
Name: longitude_coordinate, Length: 3496868, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
latitude_coordinate
40.707742    5344
37.957700    4428
34.869057    3901
34.063340    3640
41.195479    3566
             ...
36.302774       1
36.301313       1
36.301379       1
36.301474       1
33.749815       1
Name: latitude_coordinate, Length: 3605495, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
location_type
no_info              1160292
built_environment     604270
green_space           425654
<null>                    12
Name: location_type, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
address
University Of South Florida    8458
                               7191
99999 0 Na                     4959
414 Parkside Av                3527
900 Druid Park Lake Dr         3525
                               ...
3504 22Nd St W                    1
339 Monterey Blvd                 1
815 Peru Ave                      1
3521 21St St W                    1
95-029 Culloden Place             1
Name: address, Length: 2034578, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
location_name
0                                                             119479
Delaware                                                        6880
Angel park golf course                                          4006
High line canal greenway                                        3194
Floyd lamb park at tule springs                                 2879
                                                               ...
Smoky hill & buckley                                               1
Cca small business center                                          1
West toll gate creek greenwaywest toll gate creek greenway         1
Split rail; chlorosis; 3-stem                                      1
Duke park                                                          1
Name: location_name, Length: 1804, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
diameter_breast_height_CM
5.080000      247649
0.000000      168457
7.620000      151537
10.160000     138903
15.240000     117128
               ...
6.519202           1
9.027735           1
4.666905           1
6.344289           1
140.000000         1
Name: diameter_breast_height_CM, Length: 2205, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
condition
good          1593138
fair           710362
poor           143653
excellent      106078
dead            31337
dead/dying      20488
                16681
Name: condition, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
height_M
0.00000       134645
98.42520       50417
49.21260       47163
65.61680       45419
82.02100       44691
               ...
8.31308            1
8.11165            1
8.08445            1
8.20031            1
1394.35700         1
Name: height_M, Length: 4532, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
native
introduced             2981214
naturally_occurring    1394893
no_info                1279402
Name: native, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
height_binned_M
more than 18.29 m    560090
0 to 4.57 m           38177
4.57 to 9.14 m        35338
9.14 to 13.71 m       14933
13.71 to 18.29 m      10547
Name: height_binned_M, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
diameter_breast_height_binned_CM
0 to 15.24 cm        1609644
15.24 to 30.48 cm    1037847
30.48 to 45.72 cm     713930
45.72 to 60.96 cm     365357
60.96 to 76.2 cm      212281
more than 76.2 cm     141962
Name: diameter_breast_height_binned_CM, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
greater_metro
LosAngeles    720140
NewYork       683788
SanJose       347669
Denver        284739
Portland      218602
               ...
Nashville       2059
Boston          1333
Jerseycity       774
Miami            732
Phoenix          214
Name: greater_metro, Length: 63, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
tree_ID
Series([], Name: tree_ID, dtype: int64)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
planted_date
01/01/1970    109368
12/30/2012      2122
4/2/2011        1794
10/1/2011       1720
4/5/2008        1492
               ...
05/28/1997         1
07/16/1960         1
01/04/2009         1
07/16/1973         1
10/10/1995         1
Name: planted_date, Length: 8611, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
retired_date
1/1/2013     120
6/1/2016     117
1/1/2012     101
2/1/2020     101
1/1/2014      89
            ...
2/1/2012       1
1/15/2019      1
7/20/2017      1
4/3/2019       1
3/10/2011      1
Name: retired_date, Length: 332, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
most_recent_observation_type
inventory_date    2212742
inspected_date     151937
edit_date           57767
condition_date      34287
Name: most_recent_observation_type, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
zipcode
10312.0    22186
10314.0    16905
10306.0    13030
10309.0    12650
11234.0    11253
           ...
40329.0        1
40328.0        1
40327.0        1
40326.0        1
40331.0        1
Name: zipcode, Length: 421, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
neighborhood
Stapleton                       21028
Gateway - green valley ranch    17450
Lowry field                      8196
South park hill                  7894
Washington park                  7769
                                ...
Arlington heights                   5
Esplen                              3
South shore                         2
Glen hazel                          2
Hays                                1
Name: neighborhood, Length: 263, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
ward
3.0                   37094
4.0                   36007
5.0                   34555
6.0                   32879
7.0                   29375
2.0                   28138
8.0                   21147
1.0                   16439
14.0                   9668
11.0                   4224
22.0                   2088
10.0                   1988
19.0                   1799
26.0                   1436
15.0                   1420
27.0                   1389
13.0                   1337
20.0                   1285
16.0                   1224
21.0                   1018
12.0                    962
9.0                     869
17.0                    841
28.0                    840
29.0                    770
18.0                    618
32.0                    603
Council district 1      565
25.0                    539
Council district 2      521
Council district 5      509
23.0                    464
31.0                    447
30.0                    425
Council district 6      372
Council district 8      357
Council district 3      347
Council district 7      346
24.0                    251
Council district 4      216
Council district 9       39
Name: ward, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
district
Delaware      20630
South         16699
Ellicott      16620
Masten        15984
Fillmore      15347
North         12727
Lovejoy       11967
University    11821
Niagara       11151
10             1847
11             1505
12             1499
3              1384
1              1180
4              1111
8              1060
7              1049
5               959
6               923
2               921
18              893
9               749
16              585
15              500
19              445
14              412
17              330
13              170
0                49
inermis          14
Name: district, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
overhead_utility
No                         523253
Yes                        102629
No lines                    13211
0                            1868
Yes and not conflicting      1160
Yes and conflicting           626
                                3
Name: overhead_utility, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
percent_population
Series([], Name: percent_population, dtype: int64)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%